# Create a class and object (Basic Structure)

In [ ]:
class Student:
  name = "Ali"
  DOB = "1 jan 2009"

s1 = Student()
print(s1.name)
s2 = Student()
print(s2.name)

Ali
Ali

#Create a class with instructor

In [ ]:
class Student:
  def __init__(self,name,DOB):
    self.name = name
    self.DOB = DOB

s1 = Student("Ali","1 jan 2009")
print(s1.name)
print(s1.DOB)
s2 = Student("Ahmed","1 feb 2009")
print(s2.name)
print(s2.DOB)

Ali
1 jan 2009
Ahmed
1 feb 2009

# Multiple parameters in constructor

In [ ]:
class Student:
  def __init__(self,name,DOB):
    self.name = name
    self.DOB = DOB

s1 = Student("Ali","1 jan 2009")
print(s1.name)
print(s1.DOB)
s2 = Student("Ahmed","1 feb 2009")
print(s2.name)
print(s2.DOB)

Ali
1 jan 2009
Ahmed
1 feb 2009

In [ ]:
class Teacher:
  def __init__(self,name,salary):
    self.name = name
    self.salary = salary
T1 = Teacher("sara",105000)
print(T1.name,T1.salary)

sara 105000

# **Inheritance**

In [ ]:
 # Main class
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

# Subclass: Student
class Student(Person):
    def __init__(self, name, age, gender, student_id):
        super().__init__(name, age, gender)
        self.student_id = student_id

# Subclass: Teacher
class Teacher(Person):
    def __init__(self, name, age, gender, subject):
        super().__init__(name, age, gender)
        self.subject = subject

# Subclass: Employee
class Employee(Person):
    def __init__(self, name, age, gender, department):
        super().__init__(name, age, gender)
        self.department = department

# Create objects
student = Student("Muhammad Ibrahim", 20, "Male", "CSE/94")
teacher = Teacher("Maam Farhat Naureen", 40, "Female", "Python")
employee = Employee("Ahmed", 40, "Male", "HR")

# Access and print attributes directly
print("Student Information")
print("Name:", student.name)
print("Age:", student.age)
print("Gender:", student.gender)
print("Student ID:", student.student_id)

print("\nTeacher Information")
print("Name:", teacher.name)
print("Age:", teacher.age)
print("Gender:", teacher.gender)
print("Subject:", teacher.subject)

print("\nEmployee Information")
print("Name:", employee.name)
print("Age:", employee.age)
print("Gender:", employee.gender)
print("Department:", employee.department)

Student Information
Name: Muhammad Ibrahim
Age: 20
Gender: Male
Student ID: CSE/94

Teacher Information
Name: Maam Farhat Naureen
Age: 40
Gender: Female
Subject: Python

Employee Information
Name: Ahmed
Age: 40
Gender: Male
Department: HR

# PolyMorphism with operator overloading

In [ ]:
print( 5 + 10 )     #int addition
print( 7.5 + 9.11 ) # float addition
print( "IMCS" + ",UOS" ) # string concatenation
print( [1,2,3] + [4,5,6] ) # list concatenation(merge list)

15
16.61
IMCS,UOS
[1, 2, 3, 4, 5, 6]

# Operator overloading create a class for complex number and overload + operator

In [ ]:
class Complex:
  def __init__(self,real,imag):
    self.real = real
    self.imag = imag

  def display(self):
    print(self.real,"i+",self.imag,"j")

  def add(self,num2):
    newReal = self.real + num2.real
    newImag = self.imag + num2.imag
    return Complex(newReal,newImag)
n1 = Complex(5,6)
n1.display()

n2 = Complex(7,8)
n2.display()
n3 = n1.add(n2)
n3.display()

5 i+ 6 j
7 i+ 8 j
12 i+ 14 j

# Method overloading with default arguments

In [ ]:
class Calculator:
  def add(self,x,y=None,):
    if y is None:
      return x
    else:
      return x+y

c1 = Calculator()
print(c1.add(10))
print(c1.add(10,20))

10
30

# Method overloading with variable length argument

In [ ]:
class Calculator:
  def add(self,*args):
    total = 0
    for num in args:
      total += num
    return total

c1 = Calculator()
print(c1.add(10))
print(c1.add(10,20))
print(c1.add(10,20,30))

10
30
60

# Method Overriding

In [ ]:
class Vehicle:
  def __init__(self,brand,model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move")

class Car(Vehicle):
  pass

class Plane(Vehicle):
  def move(self):
    print("Fly")

car1 = Car("Toyota","Camry")

plane1 = Plane("Boeing","747")

for el in (car1,plane1):
  print(el.brand,el.model)
  el.move()

Toyota Camry
Move
Boeing 747
Fly

In [ ]:
class Animal:
  def speak(self):
    print("Generic animal sounds")

class Dog(Animal):
  def speak(self):
    print("Dog barks")

class Cat(Animal):
  def speak(self):
    print("Cat meows")

a = Animal()
d = Dog()
c = Cat()

a.speak()
d.speak()
c.speak()

Generic animal sounds
Dog barks
Cat meows