# Swapping two Number using third variable

In [4]:
N1 =  int (input("Enter first No:"))
N2 =  int (input("Enter Second No:"))
print("Values befor Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)
tem = N1
N1 = N2
N2 = tem
print("Values after Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)

Enter first No:3
Enter Second No:7
Values befor Swapping:
N1 =  3 , N2 =  7
Values after Swapping:
N1 =  7 , N2 =  3

Swapping two Numbers without using third variable

In [5]:
N1 =  int (input("Enter first No:"))
N2 =  int (input("Enter Second No:"))
print("Values befor Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)
N1 = N1 + N2
N2 = N1 - N2
N1 = N1 - N2
print("Values after Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)

Enter first No:3
Enter Second No:9
Values befor Swapping:
N1 =  3 , N2 =  9
Values after Swapping:
N1 =  9 , N2 =  3

Swapping two Numbers using XOR

In [3]:
N1 =  int (input("Enter first No:"))
N2 =  int (input("Enter Second No:"))
print("Values befor Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)
N1 = N1 ^ N2
N2 = N1 ^ N2
N1 = N1 ^ N2
print("Values after Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)

Enter first No:4
Enter Second No:5
Values befor Swapping:
N1 =  4 , N2 =  5
Values after Swapping:
N1 =  5 , N2 =  4