# **For Loop**

print table using range
Range
syntax range (start, end , step)

In [ ]:
n = int(input("Enter a number: "))
for el in range (1,11):
  print (n, "*", el, "=", n*el)

Enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

print squar of first 7 numbers using range

In [ ]:

for el in range (1,8):
   print (el*el)

1
4
9
16
25
36
49

In [ ]:
for el in range (1,10,2):
  print (el*el,end = " ")

1 9 25 49 81

In [ ]:
L = [1, 2, 3, 4, 5]

for el in L:
    # print (el)
# display out put in single line
     print (el, end = " ") #with space in single line
    # print (el, end = "") #with no space in single line
    # print (el, end = ",") #with comma in single line

1 2 3 4 5

Odd Number from list

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for el in L:
    if el % 2 != 0:
        print (el)

1
3
5
7
9

In [ ]:
L = [1, 3, 5,  7, 9,]
for el in L:
    print (el)
else:
  print("Loop ended here")

1
3
5
7
9
Loop ended here